{% extends '_base.html' %} {% load static %}

{% block not_auth_content %}
    <div class="signup">
        <form action="{% url 'signup'%}" method="post">
            {%csrf_token%}
            {% comment %} {{form.as_p}} {% endcomment %}
            <label>Username</label>
            {{form.username}}
            <button type="submit">SignUp</button>
        </form>
    </div>
{% endblock not_auth_content %}

{% block content %}
    <div class="signup">
        <h1>Hey {{user}}, you're logged in</h1>
    </div>
{% endblock content %}
